@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: black;
}
@media (max-width: 630px) {
  header {
    position: static;
    display: flex;
    flex-direction: column;
    background: white;
  }
}
header img {
  height: 15rem;
  width: 12%;
}
@media (max-width: 900px) {
  header img {
    width: 15%;
  }
}
@media (max-width: 800px) {
  header img {
    width: 20%;
  }
}
@media (max-width: 700px) {
  header img {
    display: none;
  }
}
@media (max-width: 630px) {
  header img {
    display: flex;
    order: -1;
    align-self: center;
    width: 50%;
    height: 20rem;
  }
}
@media (max-width: 800px) {
  header .logo1 {
    display: none;
  }
}
header nav {
  align-self: center;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media (max-width: 700px) {
  header nav ul {
    padding: 3rem 0;
  }
}
@media (max-width: 630px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    padding: 0 0 2.5rem 0;
  }
}
header nav ul li {
  padding: 1rem 0.5rem;
  font-size: 3rem;
  font-weight: 900;
}
@media (max-width: 1000px) {
  header nav ul li {
    font-weight: bolder;
  }
}
@media (max-width: 900px) {
  header nav ul li {
    font-size: 2.5rem;
    height: 3rem;
  }
}
@media (max-width: 800px) {
  header nav ul li {
    font-size: 2.6rem;
    padding: 1rem 0;
  }
}
@media (max-width: 630px) {
  header nav ul li {
    margin: 1rem 0 1rem 0;
    text-align: center;
  }
}
@media (max-width: 500px) {
  header nav ul li {
    font-size: 1.7rem;
    padding: 0 0 1.2rem 0;
    font-weight: 700;
  }
}
header nav ul li a {
  padding: 0 2rem;
  text-decoration: none;
  color: white;
  font-family: 'Orbitron', sans-serif;
}
@media (max-width: 1000px) {
  header nav ul li a {
    padding: 0 0.5rem;
  }
}
@media (max-width: 700px) {
  header nav ul li a {
    padding: 0 1.4rem;
  }
}
@media (max-width: 630px) {
  header nav ul li a {
    color: black;
    font-size: 4rem;
    border-bottom: 0.3rem solid;
    border-image: linear-gradient(88deg, #00aee9, #69fabd) 5;
    padding: 0 25rem;
  }
}
header nav ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
  box-shadow: 0 0.5rem 1rem #000000;
}
.middle-section {
  /* LOGINBOX */
  /* REGISTERBOX */
}
.middle-section .logInBox {
  width: 38%;
  height: 50%;
  background: black;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-250%, -50%);
  box-sizing: border-box;
  padding: 7rem 3rem;
  display: none;
  border-radius: 4rem;
}
@media (max-width: 1200px) {
  .middle-section .logInBox {
    width: 60%;
  }
}
@media (max-width: 630px) {
  .middle-section .logInBox {
    width: 85%;
  }
}
.middle-section .logInBox .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.middle-section .logInBox h1 {
  color: white;
  margin: 0;
  padding: 0 0 2rem;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.2rem;
}
.middle-section .logInBox p {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.middle-section .logInBox input[type="text"],
.middle-section .logInBox input[type="password"] {
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 0.1rem solid 'Orbitron', sans-serif;
  background-color: white;
  outline: none;
  height: 40px;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.6rem;
}
.middle-section .logInBox button {
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: 'Orbitron', sans-serif;
  font-size: 1.8rem;
  border-radius: 2rem;
}
.middle-section .logInBox button:hover {
  cursor: pointer;
  background: #f08a5d;
  color: #000;
}
.middle-section .logInBox a {
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 3rem;
  color: black;
}
.middle-section .logInBox a:hover {
  color: #f08a5d;
}
.middle-section .registerBox {
  width: 38%;
  height: 50%;
  background: black;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-250%, -50%);
  box-sizing: border-box;
  padding: 7rem 3rem;
  display: none;
  border-radius: 4rem;
}
@media (max-width: 1200px) {
  .middle-section .registerBox {
    width: 60%;
  }
}
@media (max-width: 630px) {
  .middle-section .registerBox {
    width: 85%;
  }
}
.middle-section .registerBox .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.middle-section .registerBox h1 {
  color: white;
  margin: 0;
  padding: 0 0 2rem;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 2.2rem;
}
.middle-section .registerBox p {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.middle-section .registerBox input[type="text"],
.middle-section .registerBox input[type="password"] {
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 0.1rem solid 'Orbitron', sans-serif;
  background-color: white;
  outline: none;
  height: 40px;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.6rem;
}
.middle-section .registerBox button {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: 'Orbitron', sans-serif;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
  border-radius: 2rem;
  text-align: center;
}
.middle-section .registerBox button:hover {
  cursor: pointer;
  background: #f08a5d;
  color: #000;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .carousel {
    margin-top: 3rem;
  }
}
@media (max-width: 900px) {
  .carousel {
    margin-top: 4rem;
  }
}
@media (max-width: 800px) {
  .carousel {
    margin-top: 5rem;
  }
}
@media (max-width: 700px) {
  .carousel {
    margin-top: 6rem;
  }
}
@media (max-width: 630px) {
  .carousel {
    margin-top: 0rem;
  }
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
  position: relative;
}
.carousel .left-button .left-Arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: 'Orbitron', sans-serif;
  font-size: 8rem;
}
.carousel .left-button .left-Arrow:hover {
  color: red;
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  position: relative;
}
.carousel .right-button .right-Arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: 'Orbitron', sans-serif;
  font-size: 8rem;
  text-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.5);
}
.carousel .right-button .right-Arrow:hover {
  color: red;
}
.carousel img {
  height: 100%;
  width: auto;
  display: none;
  max-width: 1200px;
  height: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}
@media (max-width: 1200px) {
  .carousel img {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .carousel img {
    height: 30rem;
    width: 100%;
  }
}
.tabs {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 47px;
  margin: 3rem 0 1rem 0;
}
@media (max-width: 500px) {
  .tabs {
    height: auto;
    margin-top: 0;
  }
}
.tabs .topics {
  display: flex;
}
@media (max-width: 500px) {
  .tabs .topics {
    display: flex;
    flex-direction: column;
  }
}
.tabs .topics .tab {
  color: black;
  background-color: #eeeeee;
  width: 65%;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 9rem;
  font-family: 'Orbitron', sans-serif;
  margin: 0 2rem 3rem 0;
  padding: 0.2rem 2rem;
  font-size: 2rem;
  width: 25rem;
  height: 5rem;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
@media (max-width: 850px) {
  .tabs .topics .tab {
    width: 20rem;
  }
}
@media (max-width: 700px) {
  .tabs .topics .tab {
    width: 15rem;
    padding: 0;
    margin: 0 0.9rem 3rem 0.9rem;
    font-size: 2.3rem;
  }
}
@media (max-width: 630px) {
  .tabs .topics .tab {
    width: 15rem;
    padding: 0;
    margin: 0 0.9rem 3rem 0.9rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .tabs .topics .tab {
    width: 350%;
    margin: 1rem 0;
    padding: 0;
    align-self: center;
  }
}
@media (max-width: 330px) {
  .tabs .topics .tab {
    width: 300%;
  }
}
.tabs .topics .tab:hover {
  text-decoration: underline;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.tabs .topics .active-tab {
  background-color: #ffffff;
  color: black;
  transition: 0.5 ease-in-out;
  color: #333;
  border: 2px solid #333;
}
.cards-container {
  display: flex;
  display: none;
  justify-content: center;
  margin-top: 1.6rem;
  flex-wrap: wrap;
}
.cards-container .card {
  border-bottom: 0.1rem solid lightgrey;
  background-color: 'Orbitron', sans-serif;
  margin-bottom: 1.6rem;
  padding: 0 2.4rem 2.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
@media (max-width: 500px) {
  .cards-container .card {
    width: 100%;
  }
}
.cards-container .card .middle-part {
  width: 60%;
  width: 100%;
  order: 1;
  text-align: justify;
}
.cards-container .card img {
  height: 30rem;
  width: 100%;
  margin: 0;
}
.cards-container .card .headline {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Orbitron', sans-serif;
}
.cards-container .card h4 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  font-family: 'Orbitron', sans-serif;
}
.cards-container .card p {
  padding: 1rem 1rem 1rem 0;
  font-size: 2.5rem;
  font-family: 'Nunito', sans-serif;
}
.cards-container .card ul {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 2.5rem;
  color: #000;
  padding: 1rem 1rem 1rem 0;
}
.cards-container .card ol {
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 2.5rem;
  color: #000;
  padding: 1rem 1rem 1rem 0;
}
.cards-container .card li {
  margin: 1rem;
  font-family: 'Montaga', serif;
}
.container {
  max-width: 1600px;
}
.container .heading-about h1 {
  font-family: 'Nunito', sans-serif;
  margin-top: 20rem;
  font-size: 8rem;
  text-align: center;
  border-image: linear-gradient(88deg, #00aee9, #69fabd) 5;
  border-style: solid;
  border-width: 0 0 3px;
  padding: 2rem 0;
}
@media (max-width: 630px) {
  .container .heading-about h1 {
    margin: 0;
    font-size: 5rem;
  }
}
.container .team {
  margin-top: 5rem;
}
.container .team .employee1,
.container .team .employee2,
.container .team .employee3 {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media (max-width: 800px) {
  .container .team .employee1,
  .container .team .employee2,
  .container .team .employee3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container .team .employee1 .employee,
.container .team .employee2 .employee,
.container .team .employee3 .employee {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 6rem;
}
@media (max-width: 800px) {
  .container .team .employee1 .employee,
  .container .team .employee2 .employee,
  .container .team .employee3 .employee {
    width: 100%;
    text-align: center;
  }
}
.container .team .employee1 .employee img,
.container .team .employee2 .employee img,
.container .team .employee3 .employee img {
  width: 70%;
  height: 240px;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .container .team .employee1 .employee img,
  .container .team .employee2 .employee img,
  .container .team .employee3 .employee img {
    width: 60%;
  }
}
@media (max-width: 630px) {
  .container .team .employee1 .employee img,
  .container .team .employee2 .employee img,
  .container .team .employee3 .employee img {
    width: 70%;
  }
}
@media (max-width: 400px) {
  .container .team .employee1 .employee img,
  .container .team .employee2 .employee img,
  .container .team .employee3 .employee img {
    width: 90%;
  }
}
.container .team .employee1 .employee h2,
.container .team .employee2 .employee h2,
.container .team .employee3 .employee h2 {
  font-family: 'Bree Serif', serif;
  font-size: 4rem;
  border-image: linear-gradient(88deg, #00aee9, #69fabd) 5;
  border-style: solid;
  border-width: 0 0 3px;
  padding: 2rem 0;
}
.container .team .employee1 .employee p,
.container .team .employee2 .employee p,
.container .team .employee3 .employee p {
  margin: 1rem;
  font-size: 2.5rem;
}
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16rem 0 1rem 0;
  /* Set all odd list items to a different color */
}
@media (max-width: 700px) {
  .categories {
    margin-top: 12rem;
  }
}
@media (max-width: 630px) {
  .categories {
    margin-top: 1rem;
  }
}
.categories h2 {
  font-family: 'Orbitron', sans-serif;
}
@media (max-width: 630px) {
  .categories h2 {
    margin-bottom: 1rem;
  }
}
.categories .btn {
  color: black;
  background-color: #f1f1f1;
  width: 65%;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 1em;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 1rem 0;
  cursor: pointer;
}
@media (max-width: 500px) {
  .categories .btn {
    margin-bottom: 1.5rem;
    height: 5em;
    width: 100%;
  }
}
.categories .btn:hover {
  background-color: #e52a4a;
  color: black;
  transition: 0.5 ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.categories .btn:nth-child(odd) {
  background-color: #eaeaea;
}
.categories h4 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  color: red;
}
.middle-section1 {
  display: none;
  flex-direction: column;
  align-items: center;
}
.middle-section1 .list {
  margin-top: 20rem;
  width: 80%;
  /* Set all odd list items to a different color */
  /* Clear floats after the header */
}
@media (max-width: 700px) {
  .middle-section1 .list {
    margin-top: 10rem;
  }
}
@media (max-width: 630px) {
  .middle-section1 .list {
    margin-top: 1rem;
  }
}
.middle-section1 .list ul li {
  cursor: pointer;
  position: relative;
  padding: 1.2rem 0.8rem 1.2rem 4rem;
  background: #defcfc;
  font-size: 1.8rem;
  font-family: 'Archivo Black', sans-serif;
}
.middle-section1 .list ul li:nth-child(odd) {
  background: #a6e3e9;
}
.middle-section1 .list ul li:nth-child(odd):hover {
  background: #ddd;
}
.middle-section1 .list .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  font-weight: bolder;
  color: red;
  font-size: 1.5rem;
}
.middle-section1 .list .close:hover {
  background-color: black;
}
.middle-section1 .list .header {
  background-color: #defcfc;
  padding: 3rem 4rem;
  text-align: center;
}
.middle-section1 .list .header h2 {
  font-family: 'Orbitron', sans-serif;
  color: black;
  margin-bottom: 1rem;
}
.middle-section1 .list .header h3 {
  font-family: 'Orbitron', sans-serif;
  margin: 0.7rem 0;
}
.middle-section1 .list .header:after {
  content: "";
  display: table;
  clear: both;
}
.middle-section1 .list input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 1rem;
  float: left;
  font-size: 1.6rem;
}
.middle-section1 .list .addBtn {
  padding: 1rem;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  border-radius: 0;
}
.middle-section1 .list .addBtn:hover {
  background-color: #bbb;
}
.middle-section1 .list .count-Items {
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin: 0.5rem 0;
}
.middle-section1 .list .goBack {
  display: flex;
  justify-content: center;
}
.middle-section1 .list .goBack .goBackBtn {
  color: black;
  background-color: #eaeaea;
  width: 65%;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 1em;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 1rem 0;
  cursor: pointer;
}
@media (max-width: 500px) {
  .middle-section1 .list .goBack .goBackBtn {
    margin-bottom: 1.5rem;
    height: 5em;
    width: 100%;
  }
}
.middle-section1 .list .goBack .goBackBtn:hover {
  background-color: #e52a4a;
  color: black;
  transition: 0.5 ease-in-out;
}
@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url('https://weloveiconfonts.com/api/fonts/entypo/entypo.eot');
  src: url('https://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix') format('eot'), url('https://weloveiconfonts.com/api/fonts/entypo/entypo.woff') format('woff'), url('https://weloveiconfonts.com/api/fonts/entypo/entypo.ttf') format('truetype'), url('https://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo') format('svg');
}
.entypo-note:before {
  content: "\266a";
}
.entypo-note-beamed:before {
  content: "\266b";
}
.entypo-music:before {
  content: "\1f3b5";
}
.entypo-search:before {
  content: "\1f50d";
}
.entypo-flashlight:before {
  content: "\1f526";
}
.entypo-mail:before {
  content: "\2709";
}
.entypo-heart:before {
  content: "\2665";
}
.entypo-heart-empty:before {
  content: "\2661";
}
.entypo-star:before {
  content: "\2605";
}
.entypo-star-empty:before {
  content: "\2606";
}
.entypo-user:before {
  content: "\1f464";
}
.entypo-users:before {
  content: "\1f465";
}
.entypo-user-add:before {
  content: "\e700";
}
.entypo-video:before {
  content: "\1f3ac";
}
.entypo-picture:before {
  content: "\1f304";
}
.entypo-camera:before {
  content: "\1f4f7";
}
.entypo-layout:before {
  content: "\268f";
}
.entypo-menu:before {
  content: "\2630";
}
.entypo-check:before {
  content: "\2713";
}
.entypo-cancel:before {
  content: "\2715";
}
.entypo-cancel-circled:before {
  content: "\2716";
}
.entypo-cancel-squared:before {
  content: "\274e";
}
.entypo-plus:before {
  content: "\2b";
}
.entypo-plus-circled:before {
  content: "\2795";
}
.entypo-plus-squared:before {
  content: "\229e";
}
.entypo-minus:before {
  content: "\2d";
}
.entypo-minus-circled:before {
  content: "\2796";
}
.entypo-minus-squared:before {
  content: "\229f";
}
.entypo-help:before {
  content: "\2753";
}
.entypo-help-circled:before {
  content: "\e704";
}
.entypo-info:before {
  content: "\2139";
}
.entypo-info-circled:before {
  content: "\e705";
}
.entypo-back:before {
  content: "\1f519";
}
.entypo-home:before {
  content: "\2302";
}
.entypo-link:before {
  content: "\1f517";
}
.entypo-attach:before {
  content: "\1f4ce";
}
.entypo-lock:before {
  content: "\1f512";
}
.entypo-lock-open:before {
  content: "\1f513";
}
.entypo-eye:before {
  content: "\e70a";
}
.entypo-tag:before {
  content: "\e70c";
}
.entypo-bookmark:before {
  content: "\1f516";
}
.entypo-bookmarks:before {
  content: "\1f4d1";
}
.entypo-flag:before {
  content: "\2691";
}
.entypo-thumbs-up:before {
  content: "\1f44d";
}
.entypo-thumbs-down:before {
  content: "\1f44e";
}
.entypo-download:before {
  content: "\1f4e5";
}
.entypo-upload:before {
  content: "\1f4e4";
}
.entypo-upload-cloud:before {
  content: "\e711";
}
.entypo-reply:before {
  content: "\e712";
}
.entypo-reply-all:before {
  content: "\e713";
}
.entypo-forward:before {
  content: "\27a6";
}
.entypo-quote:before {
  content: "\275e";
}
.entypo-code:before {
  content: "\e714";
}
.entypo-export:before {
  content: "\e715";
}
.entypo-pencil:before {
  content: "\270e";
}
.entypo-feather:before {
  content: "\2712";
}
.entypo-print:before {
  content: "\e716";
}
.entypo-retweet:before {
  content: "\e717";
}
.entypo-keyboard:before {
  content: "\2328";
}
.entypo-comment:before {
  content: "\e718";
}
.entypo-chat:before {
  content: "\e720";
}
.entypo-bell:before {
  content: "\1f514";
}
.entypo-attention:before {
  content: "\26a0";
}
.entypo-alert:before {
  content: "\1f4a5'";
}
.entypo-vcard:before {
  content: "\e722";
}
.entypo-address:before {
  content: "\e723";
}
.entypo-location:before {
  content: "\e724";
}
.entypo-map:before {
  content: "\e727";
}
.entypo-direction:before {
  content: "\27a2";
}
.entypo-compass:before {
  content: "\e728";
}
.entypo-cup:before {
  content: "\2615";
}
.entypo-trash:before {
  content: "\e729";
}
.entypo-doc:before {
  content: "\e730";
}
.entypo-docs:before {
  content: "\e736";
}
.entypo-doc-landscape:before {
  content: "\e737";
}
.entypo-doc-text:before {
  content: "\1f4c4";
}
.entypo-doc-text-inv:before {
  content: "\e731";
}
.entypo-newspaper:before {
  content: "\1f4f0";
}
.entypo-book-open:before {
  content: "\1f4d6";
}
.entypo-book:before {
  content: "\1f4d5";
}
.entypo-folder:before {
  content: "\1f4c1";
}
.entypo-archive:before {
  content: "\e738";
}
.entypo-box:before {
  content: "\1f4e6";
}
.entypo-rss:before {
  content: "\e73a";
}
.entypo-phone:before {
  content: "\1f4dE";
}
.entypo-cog:before {
  content: "\2699";
}
.entypo-tools:before {
  content: "\2692";
}
.entypo-share:before {
  content: "\e73c";
}
.entypo-shareable:before {
  content: "\e73e";
}
.entypo-basket:before {
  content: "\e73d";
}
.entypo-bag:before {
  content: "\1f45c'";
}
.entypo-calendar:before {
  content: "\1f4c5";
}
.entypo-login:before {
  content: "\e740";
}
.entypo-logout:before {
  content: "\e741";
}
.entypo-mic:before {
  content: "\1f3a4";
}
.entypo-mute:before {
  content: "\1f507";
}
.entypo-sound:before {
  content: "\1f50a";
}
.entypo-volume:before {
  content: "\e742";
}
.entypo-clock:before {
  content: "\1f554";
}
.entypo-hourglass:before {
  content: "\23f3";
}
.entypo-lamp:before {
  content: "\1f4a1";
}
.entypo-light-down:before {
  content: "\1f505";
}
.entypo-light-up:before {
  content: "\1f506";
}
.entypo-adjust:before {
  content: "\25d1";
}
.entypo-block:before {
  content: "\1f6ab";
}
.entypo-resize-full:before {
  content: "\e744";
}
.entypo-resize-small:before {
  content: "\e746";
}
.entypo-popup:before {
  content: "\e74c";
}
.entypo-publish:before {
  content: "\e74d";
}
.entypo-window:before {
  content: "\e74e";
}
.entypo-arrow-combo:before {
  content: "\e74f";
}
.entypo-down-circled:before {
  content: "\e758";
}
.entypo-left-circled:before {
  content: "\e759";
}
.entypo-right-circled:before {
  content: "\e75a";
}
.entypo-up-circled:before {
  content: "\e75b";
}
.entypo-down-open:before {
  content: "\e75c";
}
.entypo-left-open:before {
  content: "\e75d";
}
.entypo-right-open:before {
  content: "\e75e";
}
.entypo-up-open:before {
  content: "\e75f";
}
.entypo-down-open-mini:before {
  content: "\e760";
}
.entypo-left-open-mini:before {
  content: "\e761";
}
.entypo-right-open-mini:before {
  content: "\e762";
}
.entypo-up-open-mini:before {
  content: "\e763";
}
.entypo-down-open-big:before {
  content: "\e764";
}
.entypo-left-open-big:before {
  content: "\e765";
}
.entypo-right-open-big:before {
  content: "\e766";
}
.entypo-up-open-big:before {
  content: "\e767";
}
.entypo-down:before {
  content: "\2b07";
}
.entypo-left:before {
  content: "\2b05";
}
.entypo-right:before {
  content: "\27a1";
}
.entypo-up:before {
  content: "\2b06";
}
.entypo-down-dir:before {
  content: "\25be";
}
.entypo-left-dir:before {
  content: "\25c2";
}
.entypo-right-dir:before {
  content: "\25b8";
}
.entypo-up-dir:before {
  content: "\25b4";
}
.entypo-down-bold:before {
  content: "\e4b0";
}
.entypo-left-bold:before {
  content: "\e4ad";
}
.entypo-right-bold:before {
  content: "\e4ae";
}
.entypo-up-bold:before {
  content: "\e4af";
}
.entypo-down-thin:before {
  content: "\2193";
}
.entypo-left-thin:before {
  content: "\2190";
}
.entypo-right-thin:before {
  content: "\2192";
}
.entypo-up-thin:before {
  content: "\2191";
}
.entypo-ccw:before {
  content: "\27f2";
}
.entypo-cw:before {
  content: "\27f3";
}
.entypo-arrows-ccw:before {
  content: "\1f504";
}
.entypo-level-down:before {
  content: "\21b3";
}
.entypo-level-up:before {
  content: "\21b0";
}
.entypo-shuffle:before {
  content: "\1f500";
}
.entypo-loop:before {
  content: "\1f501";
}
.entypo-switch:before {
  content: "\21c6";
}
.entypo-play:before {
  content: "\25b6";
}
.entypo-stop:before {
  content: "\25a0";
}
.entypo-pause:before {
  content: "\2389";
}
.entypo-record:before {
  content: "\26ab";
}
.entypo-to-end:before {
  content: "\23ed";
}
.entypo-to-start:before {
  content: "\23ee";
}
.entypo-fast-forward:before {
  content: "\23e9";
}
.entypo-fast-backward:before {
  content: "\23ea";
}
.entypo-progress-0:before {
  content: "\e768";
}
.entypo-progress-1:before {
  content: "\e769";
}
.entypo-progress-2:before {
  content: "\e76a";
}
.entypo-progress-3:before {
  content: "\e76b";
}
.entypo-target:before {
  content: "\1f3af";
}
.entypo-palette:before {
  content: "\1f3a8";
}
.entypo-list:before {
  content: "\e005";
}
.entypo-list-add:before {
  content: "\e003";
}
.entypo-signal:before {
  content: "\1f4f6";
}
.entypo-trophy:before {
  content: "\1f3c6";
}
.entypo-battery:before {
  content: "\1f50b";
}
.entypo-back-in-time:before {
  content: "\e771";
}
.entypo-monitor:before {
  content: "\1f4bb";
}
.entypo-mobile:before {
  content: "\1f4f1";
}
.entypo-network:before {
  content: "\e776";
}
.entypo-cd:before {
  content: "\1f4bf";
}
.entypo-inbox:before {
  content: "\e777";
}
.entypo-install:before {
  content: "\e778";
}
.entypo-globe:before {
  content: "\1f30e";
}
.entypo-cloud:before {
  content: "\2601";
}
.entypo-cloud-thunder:before {
  content: "\26c8";
}
.entypo-flash:before {
  content: "\26a1";
}
.entypo-moon:before {
  content: "\263d";
}
.entypo-flight:before {
  content: "\2708";
}
.entypo-paper-plane:before {
  content: "\e79b";
}
.entypo-leaf:before {
  content: "\1f342";
}
.entypo-lifebuoy:before {
  content: "\e788";
}
.entypo-mouse:before {
  content: "\e789";
}
.entypo-briefcase:before {
  content: "\1f4bc";
}
.entypo-suitcase:before {
  content: "\e78e";
}
.entypo-dot:before {
  content: "\e78b";
}
.entypo-dot-2:before {
  content: "\e78c";
}
.entypo-dot-3:before {
  content: "\e78d";
}
.entypo-brush:before {
  content: "\e79a";
}
.entypo-magnet:before {
  content: "\e7a1";
}
.entypo-infinity:before {
  content: "\221e";
}
.entypo-erase:before {
  content: "\232b";
}
.entypo-chart-pie:before {
  content: "\e751";
}
.entypo-chart-line:before {
  content: "\1f4c8";
}
.entypo-chart-bar:before {
  content: "\1f4ca";
}
.entypo-chart-area:before {
  content: "\1f53e";
}
.entypo-tape:before {
  content: "\2707";
}
.entypo-graduation-cap:before {
  content: "\1f393";
}
.entypo-language:before {
  content: "\e752";
}
.entypo-ticket:before {
  content: "\1f3ab";
}
.entypo-water:before {
  content: "\1f4a6";
}
.entypo-droplet:before {
  content: "\1f4a7";
}
.entypo-air:before {
  content: "\e753";
}
.entypo-credit-card:before {
  content: "\1f4b3";
}
.entypo-floppy:before {
  content: "\1f4be";
}
.entypo-clipboard:before {
  content: "\1f4cb";
}
.entypo-megaphone:before {
  content: "\1f4e3";
}
.entypo-database:before {
  content: "\e754";
}
.entypo-drive:before {
  content: "\e755";
}
.entypo-bucket:before {
  content: "\e756";
}
.entypo-thermometer:before {
  content: "\e757";
}
.entypo-key:before {
  content: "\1f511";
}
.entypo-flow-cascade:before {
  content: "\e790";
}
.entypo-flow-branch:before {
  content: "\e791";
}
.entypo-flow-tree:before {
  content: "\e792";
}
.entypo-flow-line:before {
  content: "\e793";
}
.entypo-flow-parallel:before {
  content: "\e794";
}
.entypo-rocket:before {
  content: "\1f680";
}
.entypo-gauge:before {
  content: "\e7a2";
}
.entypo-traffic-cone:before {
  content: "\e7a3";
}
.entypo-cc:before {
  content: "\e7a5";
}
.entypo-cc-by:before {
  content: "\e7a6";
}
.entypo-cc-nc:before {
  content: "\e7a7";
}
.entypo-cc-nc-eu:before {
  content: "\e7a8";
}
.entypo-cc-nc-jp:before {
  content: "\e7a9";
}
.entypo-cc-sa:before {
  content: "\e7aa";
}
.entypo-cc-nd:before {
  content: "\e7ab";
}
.entypo-cc-pd:before {
  content: "\e7ac";
}
.entypo-cc-zero:before {
  content: "\e7ad";
}
.entypo-cc-share:before {
  content: "\e7ae";
}
.entypo-cc-remix:before {
  content: "\e7af";
}
.entypo-github:before {
  content: "\f300";
}
.entypo-github-circled:before {
  content: "\f301";
}
.entypo-flickr:before {
  content: "\f303";
}
.entypo-flickr-circled:before {
  content: "\f304";
}
.entypo-vimeo:before {
  content: "\f306";
}
.entypo-vimeo-circled:before {
  content: "\f307";
}
.entypo-twitter:before {
  content: "\f309";
}
.entypo-twitter-circled:before {
  content: "\f30a";
}
.entypo-facebook:before {
  content: "\f30c";
}
.entypo-facebook-circled:before {
  content: "\f30d";
}
.entypo-facebook-squared:before {
  content: "\f30e";
}
.entypo-gplus:before {
  content: "\f30f";
}
.entypo-gplus-circled:before {
  content: "\f310";
}
.entypo-pinterest:before {
  content: "\f312";
}
.entypo-pinterest-circled:before {
  content: "\f313";
}
.entypo-tumblr:before {
  content: "\f315";
}
.entypo-tumblr-circled:before {
  content: "\f316";
}
.entypo-linkedin:before {
  content: "\f318";
}
.entypo-linkedin-circled:before {
  content: "\f319";
}
.entypo-dribbble:before {
  content: "\f31b";
}
.entypo-dribbble-circled:before {
  content: "\f31c";
}
.entypo-stumbleupon:before {
  content: "\f31e";
}
.entypo-stumbleupon-circled:before {
  content: "\f31f";
}
.entypo-lastfm:before {
  content: "\f321";
}
.entypo-lastfm-circled:before {
  content: "\f322";
}
.entypo-rdio:before {
  content: "\f324";
}
.entypo-rdio-circled:before {
  content: "\f325";
}
.entypo-spotify:before {
  content: "\f327";
}
.entypo-spotify-circled:before {
  content: "\f328";
}
.entypo-qq:before {
  content: "\f32a";
}
.entypo-instagrem:before {
  content: "\f32d";
}
.entypo-dropbox:before {
  content: "\f330";
}
.entypo-evernote:before {
  content: "\f333";
}
.entypo-flattr:before {
  content: "\f336";
}
.entypo-skype:before {
  content: "\f339";
}
.entypo-skype-circled:before {
  content: "\f33a";
}
.entypo-renren:before {
  content: "\f33c";
}
.entypo-sina-weibo:before {
  content: "\f33f";
}
.entypo-paypal:before {
  content: "\f342";
}
.entypo-picasa:before {
  content: "\f345";
}
.entypo-soundcloud:before {
  content: "\f348";
}
.entypo-mixi:before {
  content: "\f34b";
}
.entypo-behance:before {
  content: "\f34e";
}
.entypo-google-circles:before {
  content: "\f351";
}
.entypo-vkontakte:before {
  content: "\f354";
}
.entypo-smashing:before {
  content: "\f357";
}
.entypo-sweden:before {
  content: "\f601";
}
.entypo-db-shape:before {
  content: "\f600";
}
.entypo-logo-db:before {
  content: "\f603";
}
footer {
  display: flex;
  flex-direction: column;
}
footer #wrapper {
  width: 35%;
  height: 5rem;
  display: flex;
  align-self: center;
  margin: 1rem 0 3.5rem 0;
}
@media (max-width: 900px) {
  footer #wrapper {
    width: 60%;
  }
}
@media (max-width: 800px) {
  footer #wrapper {
    width: 70%;
  }
}
@media (max-width: 700px) {
  footer #wrapper {
    width: 80%;
  }
}
@media (max-width: 630px) {
  footer #wrapper {
    margin: 1.5rem 0 1.5rem 0;
    width: 100%;
  }
}
footer #wrapper .box {
  width: 25%;
  height: 50px;
  border-radius: 5rem;
  font-family: entypo;
  color: 212121;
  background: #fff;
  text-align: center;
  line-height: 5rem;
  font-size: 3rem;
  cursor: pointer;
  margin: 1rem 3rem 0 4rem;
  transition: 1s;
}
@media (max-width: 630px) {
  footer #wrapper .box {
    margin: 0;
  }
}
footer #wrapper .box:hover {
  color: #fff;
  transform: scale(1.15);
  transition: 1s;
}
footer #wrapper #facebook:hover {
  background-color: #3b5998;
  box-shadow: inset 0 0 0 2.2rem #3A5795;
  transform: rotate(360deg) scale(1.15);
  transition: 1s;
}
footer #wrapper #twitter:hover {
  background-color: #55acee;
  box-shadow: inset 0 0 0 2.2rem #3A5795;
  transform: rotate(360deg) scale(1.15);
  transition: 1s;
}
footer #wrapper #google:hover {
  background-color: #dd4b39;
  box-shadow: inset 0 0 0 22px #3A5795;
  transform: rotate(360deg) scale(1.15);
  transition: 1s;
}
footer #wrapper #linkedin:hover {
  background-color: #007bb5;
  box-shadow: inset 0 0 0 2.2rem #3A5795;
  transform: rotate(360deg) scale(1.15);
  transition: 1s;
}
footer .newsletter {
  background-color: #1b295e;
  padding: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 4rem;
  width: 100%;
}
@media (max-width: 450px) {
  footer .newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.7rem;
    height: 40rem;
  }
}
footer .newsletter h3 {
  color: white;
  margin: 0 0 2rem 0;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
@media (max-width: 450px) {
  footer .newsletter h3 {
    padding: 0.6rem 0.4rem 0 0.4;
    width: 100%;
  }
}
footer .newsletter .newsletter-container2 {
  margin-left: 0;
}
footer .newsletter .newsletter-container2 #mail {
  border-radius: 2.7rem;
  font-size: 1.6rem;
  font-weight: 300;
  height: 5.6rem;
  outline: none;
  padding: 0 16rem 0 2.3rem;
  width: 90%;
  font-size: 2.2rem;
  height: 7rem;
}
@media (max-width: 450px) {
  footer .newsletter .newsletter-container2 #mail {
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
}
footer .newsletter .newsletter-container2 .button-Subcribe {
  background-color: #00aee9;
  border: 0;
  border-radius: 2.7rem;
  color: #fff;
  height: 7rem;
  padding: 0 2.5rem;
  position: absolute;
  left: 56%;
  font-family: 'Dancing Script', cursive;
  width: 40%;
  font-size: 2.5rem;
  text-align: center;
}
@media (max-width: 1400px) {
  footer .newsletter .newsletter-container2 .button-Subcribe {
    left: 67%;
  }
}
@media (max-width: 450px) {
  footer .newsletter .newsletter-container2 .button-Subcribe {
    position: relative;
    left: 0;
    padding: 0;
    width: 100%;
    font-size: 2.5rem;
  }
}
footer .newsletter .newsletter-container2 .button-Subcribe:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
footer .copyright {
  font-family: 'Orbitron', sans-serif;
  color: #22283B;
  background: #ff1f1f 1;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright p {
  font-size: 2.5rem;
  font-weight: bold;
}
@media (max-width: 400px) {
  footer .copyright p {
    font-size: 2rem;
  }
}
