// Homepage / index.html

.middle-section {

  /* LOGINBOX */
  .logInBox {
    width        : 38%;
    height       : 50%;
    background   : @@black;
    color        : @@white;
    top          : 50%;
    left         : 50%;
    position     : absolute;
    transform    : translate(-250%, -50%);
    box-sizing   : border-box;
    padding      : 7rem 3rem;
    display      : none;
    border-radius: 4rem;

    @media @1200px {
      width: 60%;
    }


    @media @630px {
      width: 85%;
    }

    .avatar {
      width        : 100px;
      height       : 100px;
      border-radius: 50%;
      position     : absolute;
      top          : -50px;
      left         : calc(50% - 50px);
    }

    h1 {
      color      : @@white;
      margin     : 0;
      padding    : 0 0 2rem;
      text-align : center;
      font-family: @main-font;
      font-size  : 2.2rem;
    }

    p {
      font-family: @main-font;
      margin     : 0;
      padding    : 0;
      font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
      width           : 100%;
      margin-bottom   : 2rem;
      border          : none;
      border-bottom   : 0.1rem solid @main-font;
      background-color: @white;
      outline         : none;
      height          : 40px;
      color           : @black;
      font-family     : @main-font;
      font-size       : 1.6rem;
    }

    button {
      font-family  : @main-font;
      width        : 100%;
      margin-bottom: 2rem;
      border       : none;
      outline      : none;
      height       : 40px;
      background   : #fb2525;
      color        : @main-font;
      font-size    : 1.8rem;
      border-radius: 2rem;

      &:hover {
        cursor    : pointer;
        background: #f08a5d;
        color     : #000;
      }
    }


    a {
      font-family    : @main-font;
      text-decoration: none;
      font-size      : 1.6rem;
      line-height    : 3rem;
      color          : @@black;

      &:hover {
        color: #f08a5d;
      }
    }
  }

  /* REGISTERBOX */
  .registerBox {
    width        : 38%;
    height       : 50%;
    background   : @@black;
    color        : @@white;
    top          : 50%;
    left         : 50%;
    position     : absolute;
    transform    : translate(-250%, -50%);
    box-sizing   : border-box;
    padding      : 7rem 3rem;
    display      : none;
    border-radius: 4rem;

    @media @1200px {
      width: 60%;
    }

    @media @630px {
      width: 85%;
    }

    .avatar {
      width        : 100px;
      height       : 100px;
      border-radius: 50%;
      position     : absolute;
      top          : -50px;
      left         : calc(50% - 50px);
    }

    h1 {
      color      : @white;
      margin     : 0;
      padding    : 0 0 2rem;
      font-family: @main-font;
      text-align : center;
      font-size  : 2.2rem;
    }

    p {
      font-family: @main-font;
      margin     : 0;
      padding    : 0;
      font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
      width           : 100%;
      margin-bottom   : 2rem;
      border          : none;
      border-bottom   : 0.1rem solid @main-font;
      background-color: @white;
      outline         : none;
      height          : 40px;
      color           : @black;
      font-family     : @main-font;
      font-size       : 1.6rem;
    }

    button {
      width        : 100%;
      margin-bottom: 20px;
      border       : none;
      outline      : none;
      height       : 40px;
      background   : #fb2525;
      color        : @main-font;
      font-family  : @main-font;
      font-size    : 1.8rem;
      border-radius: 2rem;
      text-align   : center;

      &:hover {
        cursor    : pointer;
        background: #f08a5d;
        color     : #000;
      }
    }
  }
}

// Carousel section
.carousel {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : auto;
  position       : relative;
  overflow       : hidden;

  @media @1000px {
    margin-top: 3rem;
  }

  @media @900px {
    margin-top: 4rem;
  }

  @media @800px {
    margin-top: 5rem;
  }

  @media @700px {
    margin-top: 6rem;
  }

  @media @630px {
    margin-top: 0rem;
  }

  .left-button {
    top      : 50%;
    left     : 25px;
    transform: translate(0, -50%);
    position : relative;

    .left-Arrow {
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
      color    : @main-font;
      font-size: 8rem;

      &:hover {
        color: @red;
      }
    }
  }

  .right-button {
    top      : 50%;
    right    : 25px;
    transform: translate(0, -50%);
    position : relative;

    .right-Arrow {
      position   : absolute;
      top        : 50%;
      left       : 50%;
      transform  : translate(-50%, -50%);
      color      : @main-font;
      font-size  : 8rem;
      text-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

      &:hover {
        color: @red;
      }
    }
  }

  img {
    height          : 100%;
    width           : auto;
    display         : none;
    max-width       : 1200px;
    height          : auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));

    @media @1200px {
      height: auto;
      width : 100%;
    }

    @media @phone {
      height: 30rem;
      width : 100%;
    }
  }
}

// TABS for the cards
.tabs {
  border-bottom  : 1px solid lightgrey;
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 100%;
  height         : 47px;
  margin         : 3rem 0 1rem 0;

  @media @phone {
    height    : auto;
    margin-top: 0;
  }

  .topics {
    display: flex;

    @media @phone {
      display       : flex;
      flex-direction: column;
    }

    .tab {
      .button(@bg-color: #eeeeee, @radius: 9rem);
      margin           : 0 2rem 3rem 0;
      padding          : 0.2rem 2rem;
      font-size        : 2rem;
      width            : 25rem;
      height           : 5rem;
      cursor           : pointer;
      font-weight      : bold;
      font-family      : 'Dancing Script', cursive;
      text-align       : center;

      @media @850px {
        width: 20rem;
      }

      @media @700px {
        width    : 15rem;
        padding  : 0;
        margin   : 0 .9rem 3rem .9rem;
        font-size: 2.3rem;
      }

      @media @630px {
        width    : 15rem;
        padding  : 0;
        margin   : 0 .9rem 3rem .9rem;
        font-size: 2.5rem;
      }

      @media @phone {
        width     : 350%;
        margin    : 1rem 0;
        padding   : 0;
        align-self: center;
      }

      @media @330px {
        width: 300%;
      }

      &:hover {
        text-decoration: underline;
        box-shadow     : 0 .5rem 1rem rgba(0, 0, 0, .5);

      }
    }

    .active-tab {
      .animation(@bg-color: #deecff);
      color               : #333;
      border              : 2px solid #333;
    }
  }
}

// Cards for the tabs
.cards-container {
  display        : flex;
  display        : none;
  justify-content: center;
  margin-top     : 1.6rem;
  flex-wrap      : wrap;



  .card {
    border-bottom   : 0.1rem solid lightgrey;
    background-color: @main-font;
    margin-bottom   : 1.6rem;
    padding         : 0 2.4rem 2.4rem 2.4rem;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    width           : 80%;

    @media @phone {
      width: 100%;
    }

    .middle-part {
      width     : 60%;
      width     : 100%;
      order     : 1;
      text-align: justify;
    }

    img {
      height: 30rem;
      width : 100%;
      margin: 0;
    }

    .headline {
      margin-bottom: 1rem;
      font-size    : 3rem;
      font-weight  : 600;
      font-family  : @main-font;
    }

    h4 {

      font-size  : 2.5rem;
      margin     : 1.5rem 0;
      font-family: @main-font;
    }

    p {
      padding    : 1rem 1rem 1rem 0;
      font-size  : 2.5rem;
      font-family: 'Nunito', sans-serif;

    }

    ul {
      list-style-type    : disc;
      list-style-position: inside;
      font-size          : 2.5rem;
      color              : #000;
      padding            : 1rem 1rem 1rem 0;
    }

    ol {
      list-style-type    : decimal;
      list-style-position: inside;
      font-size          : 2.5rem;
      color              : #000;
      padding            : 1rem 1rem 1rem 0;
    }

    li {
      margin     : 1rem;
      font-family: 'Montaga', serif;
    }
  }
}

//About page
.container {
  max-width: 1600px;

  .heading-about {

    h1 {
      font-family : 'Nunito', sans-serif;
      margin-top  : 20rem;
      font-size   : 8rem;
      text-align  : center;
      border-image: linear-gradient(88deg, #00aee9, #69fabd) 5;
      border-style: solid;
      border-width: 0 0 3px;
      padding     : 2rem 0;

      @media @630px {
        margin   : 0;
        font-size: 5rem;
      }
    }
  }

  .team {
    margin-top: 5rem;

    .employee1,
    .employee2,
    .employee3 {
      display        : flex;
      justify-content: center;
      align-items    : baseline;

      @media @800px {
        display       : flex;
        flex-direction: column;
        align-items   : center;
      }

      .employee {
        width          : 35%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        margin         : 2rem 6rem;

        @media @800px {
          width     : 100%;
          text-align: center;
        }

        img {
          width        : 70%;
          height       : 240px;
          border-radius: 50%;

          @media @800px {
            width: 60%;
          }

          @media @630px {
            width: 70%;
          }

          @media @400px {
            width: 90%;
          }
        }

        h2 {
          font-family: 'Bree Serif', serif;

          font-size   : 4rem;
          border-image: linear-gradient(88deg, #00aee9, #69fabd) 5;
          border-style: solid;
          border-width: 0 0 3px;
          padding     : 2rem 0;
        }

        p {
          margin   : 1rem;
          font-size: 2.5rem;

        }


      }
    }
  }
}

// Userpage / user.html
// buttons for various categories
.categories {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin        : 16rem 0 1rem 0;

  @media @700px {
    margin-top: 12rem;
  }

  @media @630px {
    margin-top: 1rem;
  }

  h2 {
    font-family: @main-font;

    @media @630px {
      margin-bottom: 1rem;
    }
  }

  .btn {
    .button(@bg-color: #f1f1f1);
    .center();
    padding: 2rem 0;
    margin : 1rem 0;
    cursor : pointer;

    @media @phone {
      margin-bottom: 1.5rem;
      height       : 5em;
      width        : @width;
    }

    &:hover {
      .animation();
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    }
  }

  /* Set all odd list items to a different color */
  .btn:nth-child(odd) {
    background-color: #eaeaea;
  }

  h4 {
    font-family: @main-font;
    font-size  : 2.5rem;
    color      : @red;
  }
}

// the lists for the categories
.middle-section1 {

  display       : none;
  flex-direction: column;
  align-items   : center;

  .list {
    margin-top: 20rem;
    width     : 80%;

    @media @700px {
      margin-top: 10rem;
    }

    @media @630px {
      margin-top: 1rem;
    }

    ul li {
      cursor     : pointer;
      position   : relative;
      padding    : 1.2rem 0.8rem 1.2rem 4rem;
      background : #defcfc;
      font-size  : 1.8rem;
      font-family: 'Archivo Black', sans-serif;
    }

    /* Set all odd list items to a different color */
    ul li:nth-child(odd) {
      background: #a6e3e9;

      &:hover {
        background: #ddd;
      }
    }

    .close {
      position   : absolute;
      right      : 0;
      top        : 0;
      padding    : 1.2rem 1.6rem 1.2rem 1.6rem;
      font-weight: bolder;
      color      : @red;
      font-size  : 1.5rem;

      &:hover {
        background-color: @black;
      }
    }

    .header {
      background-color: #defcfc;
      padding         : 3rem 4rem;
      text-align      : center;

      h2 {
        font-family  : @main-font;
        color        : @black;
        margin-bottom: 1rem;
      }

      h3 {
        font-family: @main-font;
        margin     : 0.7rem 0;
      }
    }

    /* Clear floats after the header */
    .header:after {
      content: "";
      display: table;
      clear  : both;
    }

    input {
      margin       : 0;
      border       : none;
      border-radius: 0;
      width        : 75%;
      padding      : 1rem;
      float        : left;
      font-size    : 1.6rem;
    }

    .addBtn {
      padding    : 1rem;
      width      : 25%;
      background : #d9d9d9;
      color      : #555;
      float      : left;
      text-align : center;
      font-size  : 1.6rem;
      cursor     : pointer;
      font-family: @main-font;
      font-weight: bold;

      border-radius: 0;

      &:hover {
        background-color: #bbb;
      }
    }

    .count-Items {
      font-size  : 2rem;
      font-family: @main-font;
      text-align : center;
      margin     : 0.5rem 0;
    }

    .goBack {
      display        : flex;
      justify-content: center;

      .goBackBtn {

        .button(@bg-color: #eaeaea);
        .center();
        padding: 2rem 0;
        margin : 1rem 0;
        cursor : pointer;

        @media @phone {
          margin-bottom: 1.5rem;
          height       : 5em;
          width        : @width;
        }

        &:hover {
          .animation();
        }

      }
    }
  }
}